# Server Configuration
PORT=8000
NODE_ENV=development

# Database Configuration
DATABASE_URL="file:./dev.db"

# Telegram Configuration
TELEGRAM_BOT_TOKEN=your_bot_token_here

# VTpass Configuration
VTPASS_API_KEY=9b834e549ed0ffc2c0cdc600d39e2af2
VTPASS_PUBLIC_KEY=PK_64346b752fad2414aac626fbd54a7ef038cda58b3e4
VTPASS_SECRET_KEY=SK_237dc40af577709e1ad0408a1eff2b0521334dcef74

# SwiftyEx Configuration
SWIFTYEX_API_BASE_URL=http://localhost:8000
